@charset "UTF-8";
/* IMPORTS PARA LA TIPOGRAFIA Y NORMALIZAR EL CSS */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ESTILOS GENERALES */
* {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
}

/* DISEÑO PARA EL CONTENEDOR DE TODO */
.contenedor {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* DISEÑO PARA EL ENCABEZADO */
header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #141414;
  border-bottom: 3px solid white;
  padding: 20px 10px;
  box-sizing: border-box;
}

.nombre {
  z-index: 1;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.nav li {
  margin: 10px;
  padding: 10px 20px;
  position: relative;
  transition: 0.5s all;
}

.nav li::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 0;
  height: 3px;
  left: 45%;
  bottom: 0;
  transition: 0.5s all;
}

.nav li:hover::after {
  left: 0;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: white;
  transition: 0.5s all;
}

/* DISEÑO PARA LA DESCRIPCION */
.descripcion {
  padding: 20px;
  margin: 20px;
  text-align: justify;
  font-size: 1.3rem;
  background-color: #141414;
  border: 2px solid white;
}

/* DISEÑO PARA LA SECCION DE PROYECTOS */
.proyectos {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyectos span {
  margin: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
}

.proyecto {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyecto span {
  font-weight: bold;
  font-size: 1.8rem;
}

.proyecto p {
  text-align: justify;
  font-size: 1.3rem;
}

.proyecto img {
  width: 50%;
  height: auto;
  margin-top: 10px;
}

/* DISEÑO PARA LA SECCION DE ARTISTAS */
.artistas {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistas span {
  margin: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
}

.artista {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #141414;
  border: 2px solid white;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.artista:hover {
  background-color: white;
  border: 2px solid #1c1c1c;
}

.artista:hover .dataArtista span,
.artista:hover .dataArtista p {
  color: black;
}

.dataArtista {
  margin: 10px 0;
}

.dataArtista span {
  font-weight: 700;
  font-size: 1.5rem;
}

.dataArtista p {
  text-align: justify;
  font-size: 1.2rem;
}

/* DISEÑO PARA FORMULARIO */
form {
  width: 90%;
  background-color: #141414;
  border: 2px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form b {
  font-size: 1.5rem;
  text-align: center;
}

form label {
  margin-top: 20px;
  align-self: flex-start;
}

form input[type=text],
form input[type=email],
form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin: 10px 0;
  width: 100%;
  padding: 5px;
  color: white;
  resize: none;
}

form input[type=text]:focus,
form input[type=email]:focus,
form textarea:focus {
  color: black;
  background-color: white;
  outline: none;
}

form input[type=submit] {
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s all;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 1rem;
}

form input[type=submit]:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  transform: scale(1.1);
}

/* DISEÑO PARA PIE DE PAGINA */
footer {
  margin-top: 20px;
  background-color: #141414;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-top:3px solid white;
}

footer .redessociales a {
  font-size: 1.5rem;
  margin: 5px;
  transition: 0.2s all;
}

footer .redessociales a:hover {
  transform: rotate(-20deg) scale(1.2);
}

/* DISEÑO PARA PANTALLAS CON ANCHO MAXIMO DE 1024PX */
@media (max-width: 1024px) {
  header {
    padding: 15px 10px;
  }
  .nombre {
    font-size: 2.5rem;
  }
  .nav {
    flex-wrap: wrap;
  }
  .nav li {
    padding: 10px 15px;
  }
  .descripcion {
    margin: 10px;
    font-size: 0.9rem;
  }
  .proyectos span,
  .artistas span {
    font-size: 2rem;
  }
  .proyecto {
    padding: 10px;
  }
  .proyecto p {
    font-size: 0.8rem;
  }
  form {
    padding: 10px;
  }
  form input[type=submit] {
    width: 70%;
  }
}
/* DISEÑO PARA PANTALLAS CON ANCHO MAXIMO DE 768PX */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }
  .nombre {
    font-size: 2rem;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav li {
    margin: 5px 0;
    padding: 8px 15px;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nombre {
    font-size: 2rem;
  }
  .descripcion {
    font-size: 0.8rem;
  }
  .proyecto img {
    height: auto;
  }
  .artista {
    flex-direction: column;
  }
  form input[type=submit] {
    width: 100%;
  }
}
/* DISEÑO PARA PANTALLAS CON ANCHO MAXIMO DE 480PX */
@media (max-width: 480px) {
  header {
    padding: 10px;
  }
  .nombre {
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .nav li {
    padding: 5px 10px;
  }
  .descripcion {
    font-size: 0.7rem;
  }
  .proyectos span,
  .artistas span {
    font-size: 1.5rem;
  }
  .proyecto p {
    font-size: 0.7rem;
  }
  .dataArtista span {
    font-size: 1rem;
  }
  .dataArtista p {
    font-size: 0.7rem;
  }
}
